<a href="https://colab.research.google.com/github/sgsjha/python_basics/blob/main/Fix_Broken_Code_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# FIX BROKEN CODE 1

In [ ]:
print("Hello, world!)

What was the error ?
Answer :

In [ ]:
my_number = 10
print(my_nummber)

What was the error ?
Answer :

In [ ]:
def greet():
name = input("Enter your name: ")
    print("Hello, " + name)

What was the error ?
Answer :

In [ ]:
age = input("Enter your age: ")
print("Next year, you will be " + (age + 1))

What was the error ?
Answer :

In [ ]:
def add_numbers(A, B):
    return 'a' + 'b'
print(add_nummbers('5', '3'))

What was the error ?
Answer :

In [ ]:
def multiply(x, y):
return X x Y

print(multiply(4, 2))

What was the error ?
Answer :

In [ ]:
numbers = [1, 2, 3, 4, 5]
for i in numbers
    print i

What was the error ?
Answer :

In [ ]:
student = {"name": "Alex", "age": 21}
primt(student1[name])

What was the error ?
Answer :

In [ ]:
def check_even(n):
    if n % 2 = 0:
        print("Even")
    else:
        print("Odd")

check_even(4)

What was the error ?
Answer :