<a href="https://colab.research.google.com/github/sgsjha/python_basics/blob/main/python_ex2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Exercises 2

## Exercise 1: Defining Functions
### Task:
Write a function called `greet` that takes a name as a parameter and returns "Hello, Yourname!".

Hello, Alice!

## Exercise 2: Function with Default Parameter
### Task:
Write a function `power` that takes two arguments: a base and an exponent (default to 2). It should return the base raised to the exponent.

3 ot the power of 2 =  9
3 to the power of 3 =  27

## Exercise 3: List Operations
### Task:
Create a list of five numbers. Write a loop to print each number in the list.

1
2
3
4
5


## Exercise 4: List Modification
### Task:
Write a function that takes a list and returns a new list with each element squared.

Original list - [1,2,3,4,5]
Squared List - [1, 4, 9, 16, 25]

## Exercise 5: Looping through a Dictionary
### Task:
Create a dictionary with three key-value pairs representing a student's name, age, and grade. Write a loop to print each key and its corresponding value.

name: Alice
age: 20
grade: A

## Exercise 6: Nested Loops
### Task:
Write a function that generates a multiplication table for numbers 1 through 5 using nested loops.

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25

## Exercise 7: Filtering a List
### Task:
Write a function that takes a list of numbers and returns a new list containing only even numbers.

Original list = [1, 2, 3, 4, 5, 6]
Filtered List = [2, 4, 6]